<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Configurações</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Feather Icons (se for usar no contexto do dashboard) -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>

    <style>
        /* Estilos adicionais, se necessário */
        .table th {
            white-space: nowrap;
            /* Evita quebra de linha nos cabeçalhos */
        }

        .price-column {
            text-align: right;
            /* Alinha preços à direita */
        }

        .stock-column {
            text-align: center;
            /* Alinha estoque ao centro ou direita */
        }
    </style>
</head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">INTERSIG </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sair (opcional)</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <%# Se tiver uma sidebar: <nav id="sidebarMenu"
                class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <!-- Conteúdo da Sidebar -->
                </nav>
                %>
              <form action="/ajusteConfig" method="POST" 
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4">
                  
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span data-feather="shopping-cart" class="me-2"></span>Pedidos
                                </h5>
                                <span> Configurações de recebimento de pedidos</span>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="importar_pedidos"
                                        <% if(     dados.importar_pedidos === 'S' ){ %> checked <%}%>  
                                        
                                    value='S'
                                    id="checkDefault" >
                                    <label class="form-check-label" for="checkDefault">
                                        desejo receber os pedidos.
                                    </label>
                                </div>
                                <div class="form-check">
                                     <input class="form-check-input" type="radio" name="importar_pedidos"
                                        <% if(     dados.importar_pedidos === 'N' ){ %> checked <%}%>  
                                         value='N'
                                        id="checkDefault" >
                                        <label class="form-check-label" for="checkDefault">
                                        nao desejo receber os pedidos.
                                        </label>
                                </div>
                                  <label class="form-check-label" for="checkDefault">
                                      ultima verificação: 
                                        </label>
                                  <label class="" for="checkDefault" style="color: blue;font-size: large;">
                                      <% if(     dados.ultima_verificacao_pedidos ){ %> 
                                        
                                        <%= new Date(dados.ultima_verificacao_pedidos).toLocaleString("pt-br", {
                                        month: "long",
                                        day: "numeric",
                                        year: "numeric",
                                        hour:"numeric",
                                        "minute":"numeric"
                                    })  %> 
                                        <%}%>
                                    </label>


                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span data-feather="archive" class="me-2"></span>Estoque</h5>
                                <span> Configurações de envio automatico de estoque</span>
                                <div class="form-check">
                                    <input
                                     class="form-check-input" 
                                     type="radio"
                                     name="importar_estoque"
                                     <% if( dados.importar_estoque === 'S' ){ %> checked  <%} %>

                                        value = 'S'
                                      id="checkDefault"
                                     >
                                    <label class="form-check-label" for="checkDefault">
                                        desejo sincronizar saldo de estoque.
                                    </label>
                                </div>
                                   
                            <div class="form-check">
                                    <input
                                     class="form-check-input" 
                                     type="radio"
                                     name="importar_estoque"
                                     <% if( dados.importar_estoque === 'N' ){ %> checked  <%} %>
                                        value = 'N'
                                      id="checkDefault"
                                     >
                                    <label class="form-check-label" for="checkDefault">
                                        não desejo sincronizar o saldo de estoque.
                                    </label>
                                  
                                </div>
                                   <label class="form-check-label" for="checkDefault">
                                         ultima verificação: 
                                        </label>
                                  <label class="" for="checkDefault" style="color: blue;font-size: large;">
                                      <% if(     dados.ultima_verificacao_estoque ){ %> 
                                        
                                        <%= new Date(dados.ultima_verificacao_estoque).toLocaleString("pt-br", {
                                  month: "long",
                                        day: "numeric",
                                        year: "numeric",
                                        hour:"numeric",
                                        "minute":"numeric"
                                    })  %> 
                                        <%}%>.
                                    </label>
                            </div>
                        </div>
                    <!--- 
                    </div>
                       <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span data-feather="dollar-sign" class="me-2"></span>Preços</h5>
                                <span> Configurações de envio automatico dos preços dos produtos</span>
                                <div class="form-check">
                                    <input
                                     class="form-check-input" 
                                     type="radio"
                                     name="enviar_precos"
                                        value = 1
                                      id="checkDefault"
                                     >
                                    <label class="form-check-label" for="checkDefault">
                                        desejo enviar os preços para no bling.
                                    </label>
                                </div>
                            <div class="form-check">
                                    <input
                                     class="form-check-input" 
                                     type="radio"
                                     name="enviar_precos"
                                        value = 0
                                      id="checkDefault"
                                     >
                                    <label class="form-check-label" for="checkDefault">
                                        não desejo enviar os preços para no bling.
                                    </label>
                                </div>

                                    <div class="mt-3">
                                        <label> Tabela de preco dos produtos a serem enviados.</label>

                                        <select class="form-select mt-2" aria-label="Default select example" name="tabela_preco">
                                            </select>
                                    </div>

                            </div>
                        </div>
                    </div>
                    -->
                </div>

  <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span data-feather="package" class="me-2"></span>Produtos</h5>
                                <h5 class="card-title">  EM DESENVOLVIMENTO !</h5>
                                
                                <span> Configurações de envio dos produtos</span>

                                <!-- Formulário para acionar a sincronização -->
                                 <!---   <div class="form-check">
                                        <input class="form-check-input"
                                           type="radio"
                                            name="enviar_produtos"
                                            value="S"
                                            id="vincularProdutos"

                                        <label class="form-check-label" for="vincularProdutos">
                                            1 - Gerar vínculo dos produtos (Tenho meus produtos registrados no Bling,
                                            preciso enviar somente o saldo de estoque).
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input
                                         class="form-check-input"
                                         type="radio" 
                                         name="enviar_produtos"
                                          value="E"
                                            id="enviarProdutos"
                                        <!-- 'checked' para deixar uma opção pré-selecionada -->

                                      <!--    <label class="form-check-label" for="enviarProdutos">
                                            2 - Enviar/Atualizar produtos e saldo de estoque com base no que tenho no
                                            sistema.
                                             ( É feito o envio de todos os dados dos produtos do sitema para o bling).
                                        </label>
                                    </div>
                                    -->
                                
                            </div>
                        </div>
                    </div>
             
           
           <button type="submit" class="btn btn-primary ">gravar</button>
            </form>

        </div>
    </div>

    <!-- Bootstrap Bundle JS (inclui Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        feather.replace(); // Para ativar os ícones Feather
    </script>
</body>

</html>